{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}

	{# Titre dynamique #}

	<div class="container-xl bg-white">

		<h1 class="py-2 ms-4">

			Résultat de votre recherche

		</h1>


		<div class="container-fluid ">

			<div class="row">

				<div class="col-xl-2">

					<p>Catégories</p>

					{% for categorie in categories %}

						<h5>
							<a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categorie.title}) }}">{{ categorie.title }}</a>
						</h5>

					{% endfor %}


				</div>

				<div class="col-xl-10">

					<h3 class="mb-4">Résultat</h3>

					{# Select pour trier #}
					<div class="col-3 ms-auto mb-4">

						<select class="form-select" onchange="window.location=this.value;">
							<option selected>Trier par</option>
							{{ knp_pagination_sortable(searchResults, 'Nouveaux arrivage', 'title', {}, {'direction': 'desc'}) }}
							{{ knp_pagination_sortable(searchResults, 'Du moins cher au plus cher', 'price', {}, {'direction': 'asc'}) }}
							{{ knp_pagination_sortable(searchResults, 'Du plus cher au moins cher', 'price', {}, {'direction': 'desc'}) }}

						</select>

					</div>

					<div class="row">		

						{# For pour afficher les vetements en forme de cartes #}

						{# {% if categories.title == 'Femme' %} #}


							{% for searchResult in searchResults %}

								<div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;"> 

									{% if searchResult.className == 'Chaussures' %}

										<a href="{{ path('voir_chaussures', {"id": searchResult.id}) }}" class="text-decoration-none text-black">

									{% endif %}

									{% if searchResult.className == 'Vetement' %}

										<a href="{{ path('voir_vetement', {"id": searchResult.id}) }}" class="text-decoration-none text-black">

									{% endif %}

									{% if searchResult.className == 'Media' %}

										<a href="{{ path('voir_media', {"id": searchResult.id}) }}" class="text-decoration-none text-black">

									{% endif %}

									{% if searchResult.className == 'Bijoux' %}

										<a href="{{ path('voir_bijoux', {"id": searchResult.id}) }}" class="text-decoration-none text-black">

									{% endif %}

									{% if searchResult.className == 'Accessoires' %}

										<a href="{{ path('voir_accessoires', {"id": searchResult.id}) }}" class="text-decoration-none text-black">

									{% endif %}

									<img src="{{ asset('images/' ~ searchResult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
									<div class="card-body">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">{{ (searchResult.price)/100 }}
												€</li>
										</ul>
										<h5 class="card-title">{{ searchResult.title }}</h5>
										{# <p class="card-text">{{ vetement.description }}</p> #}
									</div>

								</a>

							</div>

						{% endfor %}

						{# Pagination #}


					</div>

					<div class="container mt-3">

						<div class="row">

							<div class="col-12 ms-auto">

								{{ knp_pagination_render(searchResults) }}

							</div>

						</div>

					</div>


				</div>

			</div>


		</div>
	</div>
{% endblock %}
