{% extends 'base.html.twig' %}

{% block title %}Voir une accessoire{% endblock %}

{% block body %}
{# {{ dump(accessoire) }} #}

<div class="container-xl">
    <div class="row">
            <div class="col-12 bg-dark text-white">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-11">             
                        <h1>Accessoire : {{ accessoire.0.title }}</h1>
                        <pre>
                            {{ dump(couleurs) }}
                        </pre>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-1 text-center bg-dark ">
                
                <img src={{ asset('images/'~accessoire.0.photo) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
                <img src={{ asset('images/'~accessoire.0.photo2) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
                <img src={{ asset('images/'~accessoire.0.photo3) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
                <img src={{ asset('images/'~accessoire.0.photo4) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
                <img src={{ asset('images/'~accessoire.0.photo5) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
        
            </div>

            <div class="col-7 pt-3 bg-light border-bottom border-dark">
                <img id="imageBox" src={{ asset('images/'~accessoire.0.photo) }} class="rounded mx-auto d-block p-2" title="Grande image du produit"/>

            </div>

            <div class="col-4 pt-3 bg-light border-bottom border-end border-dark">
            
                <h3>{{ accessoire.0.description }}</h3>

                <div class="col-6 py-4">

                    <p><span>Couleur :</span></p>
                
                    <select class="form-select" id="test" aria-label="Default select example">
                        <option selected>Couleur</option>

                        {% for accessoiresVariation in couleurs %}

                            <option value="{{ accessoiresVariation.id }}">{{ accessoiresVariation.color }}</option>

                        {% endfor %}
                        
                    </select>
                </div>

                <div class="col-6 py-4">
                    <select class="form-select" id="test2" aria-label="Default select example">
                        <option selected>Taille</option>

                            {% for size in sizes %}

                                <option value="{{ size.id }}">{{ size.size }}</option>

                            {% endfor %}
                     
                    
                    </select>
                </div>

                <script>

                var test = {{ couleurs|json_encode(constant('JSON_HEX_TAG'))|raw }};

                console.log(test);
    
                var options=""; //store the dynamic options
                $("#test").on('change',function(){ //add a change event handler to gender select
                    var value=$(this).val(); //get its selected value
                    options="<option>Couleur</option>"
                    if(value=="{{ couleurs[0].id }}") //value ==Male then set male required options
                    {
                        options+="<option value='{{ accessoiresVariations[0].size.id }}'>{{ accessoiresVariations[0].size }}</option>"
                                +"<option value='{{ accessoiresVariations[1].size.id }}'>{{ accessoiresVariations[1].size }}</option>";
                                +"<option value='{{ accessoiresVariations[2].size.id }}'>{{ accessoiresVariations[2].size }}</option>";
      
                        $("#test2").html(options);
                    }
                    else if(value=="{{ couleurs[1].id }}") //else set female required options
                    {
                        options+='<option value="female1">Female 1</option>'
                                +'<option value="female2">Female 2</option>';
                        $("#test2").html(options);
                    }
                    else
                        $("#test2").find('option').remove() //if first default text option is selected empty the select
                });
                
                </script>

                {# <p>{{ color.0.color }}</p>
                <p>{{ size.0.size}}</p> #}
                <p>{{ accessoire.0.price/100 }}€</p> 
                <div class="col mb-3 text-center">
                    {{form(form)}}
                </div>
                <div class="col-12 p-2 border-top border-dark bg-light">
                    <h3>description</h3>
                    <p>
                    {{ accessoire.0.longDescription }}
                    </p>  
                </div>
               
                <div class="col-12 p-2 border-top border-dark bg-light">
                   <h3><i class="fa-solid fa-truck-fast"></i>  {{ expedition.0.title }}</h3> 
                   <p>{{ expedition.0.description }}</p> 
                   <p>{{ expedition.0.longDescription }}</p> 

                </div>      
            </div>

            </div>
        </div>
    </div>
    {# ------------------------------similaires itm------------- #}
    <div class="container">
        <div class="row">
            <div class="col-12 bg-light">
                <h2>Produits similaires</h2>
            </div>


            {% for accessoire in similarItm | slice(0,4) %} 
            <div class="col-3 bg-light mb-3"> 
                <div class="card" style="width: 18rem;">
                    <img src={{ asset('images/'~accessoire.photo) }} class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ accessoire.title }}</h5> 
                        <p>{{ accessoire.sousCategorie }}</p>
                        <p class="card-text">{{ accessoire.description }}</p>
                        <p>{{ accessoire.price/100 }}€</p>
                        <div class="text-center">
                            <a href={{ path('voir_accessoires', {'id':accessoire.id})}} class="btn btn-warning">Plus d'informations</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
        {# end row #}
</div>
{# end container #}
{# ---------------------------------gallery script----------------- #}
<script>
    function myFunction(smallImg){
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
    }
</script>

{% endblock %}
