

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black">
	<div class="container-fluid">
		<a class="ms-auto navbar-brand py-4" href="{{ path('default_home') }}">

			<img src="{{ asset('images/logo.png') }}" style="max-height: 5rem" title="Metallian logo"/>

		</a>

		<div class="">

			<div class="container text-center" style="width: 55em; color: white">
				<div class="row">
				
					<div class="col-6">Livré sous 24 ou 48h</div>
					<div class="col-6"><p> Retour gratuit sous 30 jours</p></div>
				
				</div>
			</div>

			{# {{ render(controller('App\\Controller\\RenderController::renderSearchArticle')) }} #}
			<div class="mx-auto text-center">

				<div class="mx-auto">
				<form action="{{ path('render_search_article')}}" id="search" method="GET">
					<div>
						<input class="me-2 searchBar align-middle text-white" type="search" placeholder="Entrez votre recherche" id="searchBar" name="search" aria-label="Search"><i type="button" onclick="document.getElementById('search').submit()" id="searchBar-icon" class="align-middle fa-solid fa-magnifying-glass"></i>
					</div>
				</form>
				</div>
			</div>
		
		</div>
		{# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
		<ul class="d-flex navbar-nav me-auto">
			
				{% if is_granted("ROLE_ADMIN") %}

					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('admin') }}">
							<i class="fa-solid fa-screwdriver-wrench mx-2"></i>Menu Admin</a>
					</li>

				{% endif %}
				<div class="dropdown">
					{% if app.user %}
					<a class="btn btn-secondary dropdown-toggle border-0"  style="background-color: black" href="{{ path('show_profile', {"id": app.user.id}) }}"   aria-expanded="false">	
							<i class="fa-solid fa-user"></i>
					</a>
					{% else %}
						<a class="btn btn-secondary dropdown-toggle border-0"  style="background-color: black" href="{{ path('app_login') }}"   aria-expanded="false">	
							<i class="fa-solid fa-user"></i>
						</a>
					{% endif %}

					<ul class="dropdown-menu rounded-0">
						{% if app.user %}

						<li><a class="dropdown-item text-underline-hover fw-bold mb-3 mt-3" href="{{ path('show_profile', {"id": app.user.id}) }}">Espace perso</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('show_profile_orders', {"id": app.user.id}) }}">Mes commandes</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('email_contact') }}">Contactez nous</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket mx-2"></i>Se Déconnecter</a></li>

						{% else %}

						<li><a class="dropdown-item text-underline-hover fw-bold mb-3 mt-3" href="{{ path('app_login') }}">Se connecter</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('user_register') }}">S'inscrire</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('email_contact') }}">Contactez nous</a></li>

						{% endif %}
					</ul>
				</div>

				
			
				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle border-0"  style="background-color: black" href="{{ path('show_cart_details') }}"   aria-expanded="false">
						<i class="fa-solid fa-basket-shopping"></i>
					</a>

						<ul class="dropdown-menu rounded-0" >
							
							<li><a class="dropdown-item " style="white-space: normal; min-width: 15rem" href="#">{{ render(url('show_cart')) }}</a></li>
							
							
						</ul>
						
				</div>
				

				{# <li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_logout') }}">
						<i class="fa-solid fa-right-from-bracket mx-2"></i>Se Déconnecter</a>
				</li> #}

			

		</ul>
		{# </div> #}
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="container-fluid" style="background-color: rgb(205, 0, 25)">

		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Catégories</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>


			<div class="offcanvas-body">

				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">

					{{ render(url('render_categories_in_nav')) }}

					{{ render(url('render_categories_merchandising_in_nav')) }}

				</ul>

			</div>

		</div>
	</div>
</nav>
