<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('default_home') }}">
		
			<img src="{{ asset('images/logo.png') }}" style="max-height: 5rem" title="Metallian logo"/>

		</a>

			<ul class="d-flex navbar-nav">
				{% if app.user %}

					{% if is_granted("ROLE_ADMIN") %}

						<li class="nav-item">
							<a class="nav-link text-white" href="{{ path('admin') }}">Menu Admin</a>
						</li>

					{% endif %}

					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_logout') }}">Se Déconnecter</a>
					</li>

				{% else %}

					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('app_login') }}"><i class="fa-regular fa-user mx-2"></i>Se connecter</a>
					</li>

				{% endif %}

				{% if not app.user %}

					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('user_register') }}">S'inscrire</a>
					</li>

				{% endif %}
			</ul>
		
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >

	<div class="container-fluid" style="background-color: rgb(180, 0, 25)">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				{{ render(url('render_categories_in_nav')) }}

			</ul>

		</div>

	</div>

</nav>
