<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('default_home') }}">

			<img src="{{ asset('images/logo.png') }}" style="max-height: 5rem" title="Metallian logo"/>

		</a>

		{# {{ render(controller('App\\Controller\\RenderController::renderSearchArticle')) }} #}
		<form action="{{ path('render_search_article')}}" class="d-flex me-4" method="GET">
			<div>
				<input class="me-2 searchBar align-middle" type="search" placeholder="Entrez votre recherche" id="searchBar" name="search" aria-label="Search">
				<i id="searchBar-icon" class=" align-middle fa-solid fa-magnifying-glass"></i>
			</div>
		</form>
		{# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
		<ul class="d-flex navbar-nav">
			

				{% if is_granted("ROLE_ADMIN") %}

					<li class="nav-item">
						<a class="nav-link text-white" href="{{ path('admin') }}">
							<i class="fa-solid fa-screwdriver-wrench mx-2"></i>Menu Admin</a>
					</li>

				{% endif %}
				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle border-0"  style="background-color: rgb(33, 37, 41)" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-solid fa-user"></i>
					</a>

					<ul class="dropdown-menu rounded-0">
						{% if app.user %}

						<li><a class="dropdown-item text-underline-hover fw-bold mb-3 mt-3" href="{{ path('show_profile', {"id": app.user.id}) }}">Espace perso</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('show_profile_orders', {"id": app.user.id}) }}">Mes commandes</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('email_contact') }}">Contactez nous</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket mx-2"></i>Se Déconnecter</a></li>

						{% else %}

						<li><a class="dropdown-item text-underline-hover fw-bold mb-3 mt-3" href="{{ path('app_login') }}">Se connecter</a></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('user_register') }}">S'inscrire</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item text-underline-hover mb-3" href="{{ path('email_contact') }}">Contactez nous</a></li>

						{% endif %}
					</ul>
				</div>

				<div class="dropdown">
					<a class="btn btn-secondary dropdown-toggle border-0"  style="background-color: rgb(33, 37, 41)" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-solid fa-basket-shopping"></i>
					</a>

					<ul class="dropdown-menu rounded-0">
						<li><a class="dropdown-item" href="#">Placeholder</a></li>
					
					</ul>
				</div>

				{# <li class="nav-item">
					<a class="nav-link text-white" href="{{ path('app_logout') }}">
						<i class="fa-solid fa-right-from-bracket mx-2"></i>Se Déconnecter</a>
				</li> #}

			

		</ul>
		{# </div> #}
	</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<div class="container-fluid" style="background-color: rgb(205, 0, 25)">

		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Catégories</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>


			<div class="offcanvas-body">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					{{ render(url('render_categories_in_nav')) }}

					{{ render(url('render_categories_merchandising_in_nav')) }}

				</ul>

			</div>

		</div>
	</div>
</nav>
