{% extends "base.html.twig" %}

{% block title %}Vetements {{ categories.title }}{% endblock %}

{% block body %}

    {# Titre dynamique #}

    <div class="container bg-white">

        <h1 class="py-2 ms-4">

            {% if categories.title == 'Femme' %}
            
                Vêtements pour Femme 

            {% elseif categories.title == 'Homme' %}

                Les vêtements pour Homme

            {% endif %}

        </h1>

        {# Banniere nouveautés et topseller dynamique #}

        {% if categories.title == 'Femme' %}

            <div class="row ps-3">

                <a href="#" class="parent col-md-6 text-decoration-none" style="height: 45rem">

                    <div class="text-white image1" style="height: 300px; width: 400px; background-color: black">
                    
                        <h3 class="pt-3 ps-4">Nouveautés</h3>
                        
                    </div>

                    <img class="image2" style="width: 550px" src="https://www.emp-online.fr/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw765bba3d/99425_MT_1000_Herbstumstellung_Teaser_Frau_Neuheiten.jpg?sw=600" />

                    <div class="text-white image3 " style="height: 300px; width: 400px; background-color: black">
                    
                        <h5 class="pb-2 text-underline-hover2 ps-4 position-absolute bottom-0 start-0">Commander !</h5>
                        
                    </div>

                </a>

                <a href="#" class="parent col-md-5 text-decoration-none" style="height: 20rem">

                    <div class="image1" style="height: 300px; width: 400px; background-color: black">
                    
                        <div class="text-white" style="height: 300px; width: 400px; background-color: black">
                    
                        <h3 class="pt-3 ps-4">Topseller</h3>
                        
                    </div>
                    
                    </div>
                    <img class="image2" style="width: 550px" src="https://www.emp-online.fr/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw39a269a9/99425_MT_1000_Herbstumstellung_Teaser_Frau_Topseller.jpg?sw=600" />

                    <div class="text-white image3" style="height: 300px; width: 400px; background-color: black">
                    
                        <h5 class="pb-2 ps-4 text-underline-hover2 position-absolute bottom-0 start-0">Commander !</h5>
                        
                    </div>
                </a>

            </div>

            {% elseif categories.title == 'Homme' %}

            <div class="row ps-3">

                <a href="#" class="parent col-md-6 text-decoration-none" style="height: 45rem">

                    <div class="text-white image1" style="height: 300px; width: 400px; background-color: black">
                    
                        <h3 class="pt-3 ps-4">Nouveautés</h3>
                        
                    </div>

                    <img class="image2" style="width: 550px" src="https://www.emp-online.fr/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dw8e385687/99426_MT_1000_Herbst_Mann_Neuheiten.jpg?sw=600" />

                    <div class="text-white image3 " style="height: 300px; width: 400px; background-color: black">
                    
                        <h5 class="pb-2 ps-4 text-underline-hover2 position-absolute bottom-0 start-0">Commander !</h5>
                        
                    </div>

                </a>

                <a href="#" class="parent col-md-5 text-decoration-none" style="height: 20rem">

                    <div class="image1" style="height: 300px; width: 400px; background-color: black">
                    
                        <div class="text-white" style="height: 300px; width: 400px; background-color: black">
                    
                        <h3 class="pt-3 ps-4">Topseller</h3>
                        
                    </div>
                    
                    </div>
                    <img class="image2" style="width: 550px" src="https://www.emp-online.fr/dw/image/v2/BBQV_PRD/on/demandware.static/-/Library-Sites-EMPSharedLibrary/default/dwf99ab6bf/99426_MT_1000_Herbst_Mann_Topseller.jpg?sw=600" />

                    <div class="text-white image3" style="height: 300px; width: 400px; background-color: black">
                    
                        <h5 class="pb-2 ps-4 text-underline-hover2 position-absolute bottom-0 start-0">Commander !</h5>
                        
                    </div>
                </a>

            </div>



        {% endif %}

        <div class="container-fluid ">
        
            <div class="row">
            
                <div class="col-2">
                
                    <p>Catégories</p>
                    <h3><a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categories.title}) }}">{{ categories.title }}</a></h3>
                    <ul class="" style="list-style-type: none">

                        {# For pour afficher les sous catégories en question #}

                        {% for subcategory in souscategories %}

                            {% if subcategory.categorie.title == categories.title %}
                            

                                <li><a class="text-underline-hover text-black" href="{{ path('show_souscategorie_from_category', {"title": subcategory.title, "title1": categories.title}) }}">{{ subcategory.title }}</a></li>


                            {% endif %}

                        {% endfor %}

                    </ul>

                    {% if categories.title == 'Femme' %}
                    
                        {{ form(filterForm) }}

                    {% endif %}

                    {% if categories.title == 'Enfant' %}
                    
                        {{ form(filterForm) }}

                    {% endif %}

                    {% if categories.title == 'Homme' %}
                    
                        {{ form(filterForm) }}

                    {% endif %}

                    {% if categories.title == 'Bijoux' %}
                
                        {{ form(filterBijouxForm) }}

                    {% endif %}

                    {% if categories.title == 'Chaussures' %}
                
                        {{ form(filterChaussuresForm) }}

                    {% endif %}

                    {% if categories.title == 'Accessoires' %}
                
                        {{ form(filterAccessoiresForm) }}

                    {% endif %}

                    {% if categories.title == 'Musique' %}
                
                        {{ form(filterMediaForm) }}

                    {% endif %}
                    
                </div>

                <div class="col-10">

                    <h3 class="mb-4">{{ categories.title }}</h3>

                    {# Select pour trier #}
                    <div class="col-3 ms-auto mb-4">


                        <select class="form-select" onChange="window.location=this.value;">
                            <option selected>Trier par</option>
                            <option value="{{ path('show_vetements_from_category', {"title": categories.title}) }}?direction=asc&sort=v.title&page=1">Nouveaux arrivages</option>
                            <option value="{{ path('show_vetements_from_category', {"title": categories.title}) }}?direction=asc&sort=v.price&page=1">Pris plus bas à élévé</option>
                            <option value="{{ path('show_vetements_from_category', {"title": categories.title}) }}?direction=desc&sort=v.price&page=1">Pris plus élévé à bas</option>
                        </select>
                        
                    </div>      

                    <div class="row">

                        
                        {# For pour afficher les vetements en forme de cartes #}

                        {# {% if categories.title == 'Femme' %} #}
                        

                            {% for vetement in vetements %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="#" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">{{ (vetement.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title">{{ vetement.title }}</h5>
                                        {# <p class="card-text">{{ vetement.description }}</p> #}
                                    </div>      

                                </a>

                            </div>

                            {% endfor %}

                        {# {% endif %} #}

                        {% for bijou in bijoux %}
                    
                        <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                            <a href="{{ path('voir_bijoux', {"id": bijou.id} ) }}" class="text-decoration-none text-black">

                                <img src="{{ asset('images/' ~ bijou.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ bijou.title }}">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ (bijou.price)/100 }} €</li>
                                    </ul>
                                    <h5 class="card-title">{{ bijou.title }}</h5>
                                    {# <p class="card-text">{{ bijou.description }}</p>
                                    <a href="#" class="card-link">Ajouter au panier</a> #}
                                </div>      

                            </a>

                        </div>
                    
                        {% endfor %}

                        {% for media in medias %}
                    
                        <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                            <a href="#" class="text-decoration-none text-black">

                                <img src="{{ asset('images/' ~ media.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ media.title }}">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ (media.price)/100 }} €</li>
                                    </ul>
                                    <h5 class="card-title">{{ media.title }}</h5>
                                    <p class="card-text">{{ media.description }}</p>
                                    <a href="#" class="card-link">Ajouter au panier</a>
                                </div>      

                            </a>

                        </div>
                    
                        {% endfor %}

                        {% for chaussure in chaussures %}
                    
                        <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                            <a href="#" class="text-decoration-none text-black">

                                <img src="{{ asset('images/' ~ chaussure.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ (chaussure.price)/100 }} €</li>
                                    </ul>
                                    <h5 class="card-title">{{ chaussure.title }}</h5>
                                    <p class="card-text">{{ chaussure.description }}</p>
                                    <a href="#" class="card-link">Ajouter au panier</a>
                                </div>      

                            </a>

                        </div>
                    
                        {% endfor %}

                        {% for accessoire in accessoires %}
                    
                        <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                            <a href="{{ path('voir_accessoires', {"id": accessoire.id} ) }}" class="text-decoration-none text-black">

                                <img src="{{ asset('images/' ~ accessoire.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ (accessoire.price)/100 }} €</li>
                                    </ul>
                                    <h5 class="card-title">{{ accessoire.title }}</h5>
                                    <p class="card-text">{{ accessoire.description }}</p>
                                    <a href="#" class="card-link">Ajouter au panier</a>
                                </div>      

                            </a>

                        </div>
                    
                        {% endfor %}

                        {# Pagination #}

                        <div class="container mt-3">
                    
                            <div class="row">
                        
                                <div class="col-12 ms-auto">
                            
                                {{ knp_pagination_render(vetements) }}
                            
                                </div>
                        
                            </div>

                        </div>

                    </div>
                
                
                </div>
            
            </div>
        
        
        </div>
    </div>

{% endblock %}