{% extends 'base.html.twig' %}

{% block title %}Metallian Shop | Merchandising Musique, métal et punk{% endblock %}

{% block body %}

<div class="container-xl">
    <div class="row">
        <div class="col-12 g-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">            
                <div class="carousel-item active">
                    {% if slider is not empty %}
                        <a href={{ slider.0.link }}>
                            <img src={{ asset('images/'~slider.0.photo1) }} class="d-block w-100" title="{{ slider.0.title1 }}" alt="{{ slider.0.title1 }}"/>
                        </a>
                        </div>
                        <div class="carousel-item">
                        <a href={{ slider.0.link2 }}>
                            <img src={{ asset('images/'~slider.0.photo2) }} class="d-block w-100" title="{{ slider.0.title2 }}" alt="{{ slider.0.title2 }}"/>
                        </a>
                        </div>
                        <div class="carousel-item">
                        <a href={{ slider.0.link3 }}>
                            <img src={{ asset('images/'~slider.0.photo2) }} class="d-block w-100" title="{{ slider.0.title3 }}" alt="{{ slider.0.title3 }}"/>
                        </a>
                    {% endif %}
                </div>   
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    <div class="row bg-white">

        <div class="row d-flex text-center mt-3 mb-2 mx-auto ">

			<h1 style="margin-bottom: 1rem">Nos nouveautés Metallian Eshop</h1>
			<hr>
            <p>Avide de nouveautés, voici les touts nouveaux produits arrivant chez nous qu'elles soient Metal, Rock ou Pop culture ainsi que des merchandising de vos groupes préférés</p>

		</div>

        <div class="col-12 p-3 text-dark">
            <h3>Femmes</h3>     
            <div class="row text-center">

                <div id="carouselFemme" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="row">
                            
                            {% for vetement in nouveautesFemme  | slice(0, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Femme' %}

                                            <div class="card g-0 mx-auto my-2 border-0" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 300px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>
                        
                        <div class="carousel-item">

                              <div class="row">
                            
                                {% for vetement in nouveautesFemme  | slice(4, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Femme' %}

                                            <div class="card g-0 mx-auto my-2 border-0" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 300px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>
                        <div class="carousel-item">

                            <div class="row">
                            
                                {% for vetement in nouveautesFemme  | slice(8, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Femme' %}

                                            <div class="card g-0 mx-auto my-2 border-0" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 300px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title ">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>

                    </div>
                    <button class="carousel-control-prev" style="width: 4em" type="button" data-bs-target="#carouselFemme" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="width: 4em" type="button" data-bs-target="#carouselFemme" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12 p-3 bg-dark text-white">

            <h3>Hommes</h3>     

            <div class="row text-center">

                <div id="carouselHomme" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="30000">

                            <div class="row">
                            
                            {% for vetement in nouveautesHomme  | slice(0, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Homme' %}

                                            <div class="card g-0 mx-auto my-2 border-0 bg-dark" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" id="image{{vetement.id}}" style="height: 300px; width: 240px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item bg-dark text-white fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title text-white">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="30000">

                              <div class="row">
                            
                                {% for vetement in nouveautesHomme  | slice(4, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Homme' %}

                                            <div class="card g-0 mx-auto my-2 border-0 bg-dark" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 300px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item bg-dark text-white fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title text-white">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>
                        <div class="carousel-item" data-bs-interval="30000">

                            <div class="row">
                            
                                {% for vetement in nouveautesHomme  | slice(8, 4) %}
                                    
                                    {% if vetement.categorie.title == 'Homme' %}

                                            <div class="card g-0 mx-auto my-2 border-0 bg-dark" style="width: 15rem;">

                                                <a href="{{ path('voir_vetement', {"id": vetement.id}) }}" class="text-decoration-none text-black">

                                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 300px; object-fit: contain;" class="card-img-top" title="{{ vetement.title }}" alt="{{ vetement.title }}" loading="lazy">
                                                    <div class="card-body">
                                                        <ul class="list-group list-group-flush ">
                                                            <li class="list-group-item bg-dark text-white fw-bold">{{ (vetement.price)/100 }} €</li>
                                                        </ul>
                                                        <h5 class="card-title text-white">{{ vetement.title }}</h5>
                                                    </div>      

                                                </a>

                                            </div>

                                            <script>

                                            $(document).ready(function () {
                                                $('#image{{vetement.id}}').attr('src', '{{ asset('images/' ~ vetement.photo) }}');
                                            });                                                     
                                            
                                            </script>

                                    {% endif %}

                                {% endfor %}

                            </div>

                        </div>

                    </div>
                    <button class="carousel-control-prev" style="width: 4em" type="button" data-bs-target="#carouselHomme" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" style="width: 4em" type="button" data-bs-target="#carouselHomme" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-12 p-3 bg-white">

            <div class="row d-flex text-center mt-3 mb-2 mx-auto ">

                <h2 style="margin-bottom: 1rem">Les meilleurs marques</h2>
                <hr>
                <p>Nous proposons les meilleurs marques de mode alternative, du Punk au Gothique en passant par le underground et beaucoup plus d'autre pour affirmer vore propres style.</p>

		    </div>

        </div>
    </div>

    <div class="row" >
        <div class="col-12 p-3 bg-white">

            <div class="row d-flex text-center mt-3 mb-2 mx-auto ">

                <h2 style="margin-bottom: 1rem">Merchandising de vos groupes préférés</h2>
                <hr>
                <p>Nous faisons tout notres possible pour avoir les merchandisings de vos groupes préférés, que ce soit des mugs, puzzles ou encore des patchs ainsi que des sacs et portefeuilles et bien plus encore.</p>

		    </div>

        </div>
    </div>
    
</div>


{% endblock %}
