{% extends 'base.html.twig' %}

{% block title %}Chaussures!{% endblock %}

{% block body %}

<div class="container-xl">
    <div class="row">
        <div class="col-12 bg-dark text-white">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><h1>Chaussures : {{ chaussure.0.title }}</h1></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 pt-3 text-center bg-dark ">
            
            <img src={{ asset('images/'~chaussure.0.photo) }} class="img-fluid p-2" title="t-shirt small front"/>
            {# <img src={{ asset('images/'~chaussure.0.photo2) }} class="img-fluid p-2" title="t-shirt small front"/>
            <img src={{ asset('images/'~chaussure.0.photo3) }} class="img-fluid p-2" title="t-shirt small front"/>
            <img src={{ asset('images/'~chaussure.0.photo4) }} class="img-fluid p-2" title="t-shirt small front"/>
            <img src={{ asset('images/'~chaussure.0.photo5) }} class="img-fluid p-2" title="t-shirt small front"/>            #}
        </div>

        <div class="col-7 pt-3 bg-light border-bottom border-dark">
            <img src={{ asset('images/'~chaussure.0.photo) }} class="rounded mx-auto d-block p-2" title="t-shirt big photo"/>

        </div>

        <div class="col-4 pt-3 bg-light border-bottom border-end border-dark">
        
            <h2>{{ chaussure.0.description }}</h2>
            <p>{{ color.0.color }}</p>
            <p>{{ chaussure.0.price/100 }}€</p>
            <div class="col mb-3 text-center">
                <button type="button" class="btn btn-success">Ajouter au panier</button>
            </div>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3>description</h3>
                <p>
                 {{ chaussure.0.longDescription }}
                </p>
            </div>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3><i class="fa-solid fa-truck-fast"></i>  {{ expedition.0.title }}</h3> 
                <p>{{ expedition.0.description }}</p> 
                <p>{{ expedition.0.longDescription }}</p> 
            </div> 
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
      
        <div class="col-12 bg-light border-end border-start border-dark">
            
            <h2>Produits similaires</h2>
        </div>
    </div>
</div> 

{% endblock %}
