{% extends 'base.html.twig' %}

{% block title %}Voir des Bijoux{% endblock %}

{% block body %}

<div class="container-xl">
    <div class="row">
        <div class="col-12 bg-dark text-white">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><h1>Bijoux : {{ bijou.0.title }}</h1></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 pt-3 text-center bg-dark ">
            
            <img src={{ asset('images/'~bijou.0.photo) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo2) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo3) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo4) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo5) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            
            
        </div>

        <div class="col-7 pt-3 bg-light text-center border-bottom border-dark">
            <img id="imageBox" src={{ asset('images/'~bijou.0.photo) }} class="img-fluid p-2" title="Grande image du produit"/>

        </div>

        <div class="col-4 pt-3 bg-light border-bottom border-end border-dark">
        {# {{ dump(bijou) }} #}
            <div class="row">
                <div class="col-8">
                    <h2>{{ bijou.0.description }}</h2>
                </div>

                {# Favorite button #}
                {% if app.user is null %}
                    <a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" href="{{ path('app_login')}}">
                        <i type="button" class="fa-regular fa-heart fa-2x"></i>
                    </a> 
                {% else %}
                    {% if userFavorites is not empty %}
                        <a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" alt="blabla" href="{{ path('remove_favorite_bijoux', {'id':bijou.0.id})}}">
                            <i type="button" class="fa-solid fa-heart fa-2x"></i>
                        </a>
                    {% else %}
                        <a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" href="{{ path('add_favorite_bijoux', {'id':bijou.0.id})}}">
                            <i type="button" class="fa-regular fa-heart fa-2x"></i>
                        </a>
                    {% endif %}
                {% endif %}
                {# End favorite button #}
                
                <div class="col-2 my-auto justify-content-end d-flex">
                    <h4 class="my-auto fw-bold">{{ bijou.0.price/100 }}€</h4>
                </div>
            </div>
            
            <form method="post">

                    <div class="col-6 py-4">

                        <p><span>Choisissez une couleur :</span></p>
                    
                        <select class="form-select" id="test" name="color" aria-label="Default select example">
                            <option selected>Couleur</option>

                            {% for couleur in couleurs %}

                                <option value="{{ couleur.id }}">{{ couleur.color }}</option>

                            {% endfor %}
                            
                        </select>
                    </div>

                    <script>

                    // var test = {{ bijouxVariations|json_encode(constant('JSON_HEX_TAG'))|raw }};

                    // console.log(test);
        
                    // var options=""; 
                    
                    // $("#test").on('click',function(){ 
                    //     var value=$(this).val(); 
                    //     options="<option>Taille</option>"
                        
                    //     for(let i = 0 ; i < test.length; i++) {
                    //         if(value == test[i].color.id)
                    //         {
                    //             options+="<option value='" + test[i].size.id + "'>" + test[i].size.size + "</option>"

                    //             $("#test2").html(options);

                    //         }
                    //     }
                    // });
                
                    </script>

                <div class="col-6 mb-4">
                    {{form(form)}}
                </div>

            </form>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3>Description</h3>
                <p>
                 {{ bijou.0.longDescription }}
                </p>
            </div>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3><i class="fa-solid fa-truck-fast"></i>  {{ expedition.0.title }}</h3> 
                <p>{{ expedition.0.description }}</p> 
                <p>{{ expedition.0.longDescription }}</p> 
            </div> 
        </div>

    </div>
</div>

{# -----------------------------------Produits similaires--------------- #}
<div class="container pt-3">
    <div class="row py-1">
      
        <div class="col-12 bg-light">
            <h2>Produits similaires</h2>
        </div>

        {% for bijou in similarItm | slice(0,4) %} 
        <div class="col-3 bg-light mb-3"> 
            <div class="card" style="width: 18rem;">
                <img src={{ asset('images/'~bijou.photo) }} class="card-img-top">
                <div class="card-body">
                     <h5 class="card-title">{{ bijou.title }}</h5> 
                      <p>{{ bijou.sousCategorie }}</p>
                    <p class="card-text">{{ bijou.description }}</p>
                    <p>{{ bijou.price/100 }}€</p>
                    <div class="text-center">
                        <a href="{{ path('voir_bijoux', {'id':bijou.id})}}" class="btn btn-warning">Plus d'informations</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {# end row #}
</div>
{# end container #}

{# --------------------------Galery Script---------------------------------- #}
<script>
    function myFunction(smallImg) {
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
    }
</script>
{% endblock %}
