{% extends 'base.html.twig' %}

{% block title %}Voir des Bijoux{% endblock %}

{% block body %}

<div class="container-xl">
    <div class="row">
        <div class="col-12 bg-dark text-white">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11"><h1>Bijoux : {{ bijou.0.title }}</h1></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 pt-3 text-center bg-dark ">
            
            <img src={{ asset('images/'~bijou.0.photo) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo2) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo3) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo4) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            <img src={{ asset('images/'~bijou.0.photo5) }} class="img-fluid p-2" onclick="myFunction(this)" title="Petite photo du produit"/>
            
            
        </div>

        <div class="col-7 pt-3 bg-light text-center border-bottom border-dark">
            <img id="imageBox" src={{ asset('images/'~bijou.0.photo) }} class="img-fluid p-2" title="Grande image du produit"/>

        </div>

        <div class="col-4 pt-3 bg-light border-bottom border-end border-dark">
        {# {{ dump(bijou) }} #}
        <div class="row">
        <div class="col-8">
        <h2>{{ bijou.0.description }}</h2>
        </div>
        <div class="col-4 pt-2">
        <p>{{ bijou.0.price/100 }}€</p>
        </div>
        </div>

            <p>{{ color.0.color }}</p>
            <p>{{ bijou.0.price/100 }}€</p>
            <div class="col mb-3 text-center">
                {{form(form)}}
            </div>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3>description</h3>
                <p>
                 {{ bijou.0.longDescription }}
                </p>
            </div>
            <div class="col-12 p-2 border-top border-dark bg-light">
                <h3><i class="fa-solid fa-truck-fast"></i>  {{ expedition.0.title }}</h3> 
                <p>{{ expedition.0.description }}</p> 
                <p>{{ expedition.0.longDescription }}</p> 
            </div> 
        </div>

    </div>
</div>

{# -----------------------------------Produits similaires--------------- #}
<div class="container">
    <div class="row">
      
        <div class="col-12 bg-light">
            <h2>Produits similaires</h2>
        </div>

        {% for bijou in similarItm | slice(0,4) %} 
        <div class="col-3 bg-light mb-3"> 
            <div class="card" style="width: 18rem;">
                <img src={{ asset('images/'~bijou.photo) }} class="card-img-top">
                <div class="card-body">
                     <h5 class="card-title">{{ bijou.title }}</h5> 
                      <p>{{ bijou.sousCategorie }}</p>
                    <p class="card-text">{{ bijou.description }}</p>
                    <p>{{ bijou.price/100 }}€</p>
                    <div class="text-center">
                        <a href={{ path('voir_bijoux', {'id':bijou.id})}} class="btn btn-warning">Plus d'informations</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {# end row #}
</div>
{# end container #}

{# --------------------------Galery Script---------------------------------- #}
<script>
    function myFunction(smallImg) {
        var fullImg = document.getElementById("imageBox");
        fullImg.src = smallImg.src;
    }
</script>
{% endblock %}
