{% extends 'base.html.twig' %}

{% block title %}Hello newProductsController!{% endblock %}

{% block body %}

    <div class="container-xl bg-white">

		<div class="container-fluid py-4">

			<div class="row">

				<div class="col-xl-2">

					<p>Catégories</p>

					{% for categorie in categories %}

						<h5>
							<a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categorie.title}) }}">{{ categorie.title }}</a>
						</h5>

					{% endfor %}

					{% for categorieMerchandising in categoriesMerchandising %}

						<h5>
							<a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categorieMerchandising.title}) }}">{{ categorieMerchandising.title }}</a>
						</h5>

					{% endfor %}


				</div>

				<div class="col-xl-10 row">

					<h3 class="mb-4 col-8">Les Nouveautés</h3>

					{# Select pour trier #}
					<div class="col-3 ms-auto mb-4">

						<select class="form-select no-border-radius" onchange="window.location=this.value;">
							<option selected>Trier par</option>
							{{ knp_pagination_sortable(newProducts, 'Nouveaux arrivage', 'title', {}, {'direction': 'desc'}) }}
							{{ knp_pagination_sortable(newProducts, 'Du moins cher au plus cher', 'price', {}, {'direction': 'asc'}) }}
							{{ knp_pagination_sortable(newProducts, 'Du plus cher au moins cher', 'price', {}, {'direction': 'desc'}) }}

						</select>

					</div>

					<div class="row">		

						{# For pour afficher les vetements en forme de cartes #}
							{% for searchresult in newProducts |sort((b, a) => a.createdAt <=> b.createdAt) %}

								<div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;"> 

									{% if searchresult.className == 'Chaussures' %}

										<a href="{{ path('voir_chaussures', {"id": searchresult.id}) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.chaussuresQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'Vetement' %}

										<a href="{{ path('voir_vetement', {"id": searchresult.id}) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.vetementQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'Media' %}

										<a href="{{ path('voir_media', {"id": searchresult.id}) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.mediaQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'Bijoux' %}

										<a href="{{ path('voir_bijoux', {"id": searchresult.id}) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.bijouxQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'Accessoires' %}

										<a href="{{ path('voir_accessoires', {"id": searchresult.id}) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.accessoiresQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'VetementMerchandising' %}

										<a href="{{ path('voir_vetement_merch', {"id": searchresult.id} ) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.vetementMerchandisingQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									{% if searchresult.className == 'AccessoiresMerchandising' %}

										<a href="{{ path('voir_accessoires_merch', {"id": searchresult.id} ) }}" class="text-decoration-none text-black">
										<img src="{{ asset('images/' ~ searchresult.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
										<div class="card-body">
											<ul class="list-group list-group-flush">
												<li class="list-group-item fw-bold">{{ (searchresult.price)/100 }}
													€</li>
											</ul>
											<h5 class="card-title text-muted">{{ searchresult.title }}</h5>

												{% set colors = {} %}
												{% for variations in searchresult.accessoiresMerchandisingQuantities.values %}

													{% if variations.color.code not in colors %}
													
														{% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
													
													{% endif %}
													

												{% endfor %}

												{% for color in colors %}
													<div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
														<div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
													</div>
													
												{% endfor %}

										</div>

									{% endif %}

									

								</a>

							</div>

						{% endfor %}

						{# Pagination #}


					</div>

					<div class="container mt-3">

						<div class="row">

							<div class="col-12 ms-auto">

								{{ knp_pagination_render(newProducts) }}

							</div>

						</div>

					</div>


				</div>

			</div>


		</div>
	</div>

{% endblock %}
