{% extends 'base.html.twig' %}

{% block title %}
	Accessoires  Merchandising
{% endblock %}

{% block body %}

	<div class="container-xl">
		<div class="row">
			<div class="col-12 bg-dark text-white">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-11 pt-1">
						<h1>Merchandising Accessoires :
							{{ accessoriesMerch.0.title }}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1 pt-3 text-center bg-dark ">

				<img src={{ asset('images/'~accessoriesMerch.0.photo) }} onclick="myFunction(this)" class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>
				<img src={{ asset('images/'~accessoriesMerch.0.photo2) }} onclick="myFunction(this)" class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>
				<img src={{ asset('images/'~accessoriesMerch.0.photo3) }} onclick="myFunction(this)" class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>
				<img src={{ asset('images/'~accessoriesMerch.0.photo4) }} onclick="myFunction(this)" class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>
				<img src={{ asset('images/'~accessoriesMerch.0.photo5) }} onclick="myFunction(this)" class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>

			</div>

			<div class="col-7 pt-3 text-center" style="background-color: white;">

				<img id="imageBox" src={{ asset('images/'~accessoriesMerch.0.photo) }} class="img-fluid p-2" alt="{{ accessoriesMerch.0.title }}"/>


			</div>

			<div class="col-4 pt-3 " style="background-color: white;">
				<div class="row">
					<div class="col-8">
						<h2>{{ accessoriesMerch.0.description }}</h2>
					</div>
					<div class="col-4 my-auto justify-content-end d-flex">
						<h3 class="my-auto fw-bold">{{ accessoriesMerch.0.price/100 }}€</h3>
					</div>
				</div>

                <form method="post">

					{% include "include/_flashes.html.twig" %}

                    <div class="col-12 py-4">

                        <p><span>Choisissez une couleur :</span></p>
                    
                        <div>

                            {% for couleur in couleurs %}
                                
                                    <label class="mx-2" style="cursor:pointer;">
                                        <input type="radio" id="" name="color" value="{{couleur.id}}"  class="mx-auto test colorRadio" style="height: 36px; width: 36px; background-color: white; border-radius: 50%; display: inline-block; cursor:pointer;">
                                            <div class="colorSelect" style="height: 46px; width: 46px; background-color: white; border-radius: 50%; display: inline-block; cursor:pointer;">

                                                <div class="mx-auto colorDiv" style="height: 36px; width: 36px; background-color: {{ couleur.code }}; border-radius: 50%; margin-top: 3px; cursor:pointer;"></div>

                                            </div>
                                        </input>
                                    </label>
                                

                            {% endfor %}

                        </div>

                    </div>

                    <div class="col-12 pt-3 pb-4">

                        <p><span>Choisissez une taille :</span></p>

                        <div id="test3">
                            {% for size in sizes %}<label class="mx-2 mb-2"><input type="radio" class="testRadio" name="test" value="small"><div class="text-center align-middle testSelect" alt="Option 1" style='width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;'>{{ size.size }}</div></label>{% endfor %}
                        </div>

						<div class="pt-3 text-primary" data-bs-toggle="modal" data-bs-target="#sizeGuideModal" style="cursor: pointer;"><i class="fa-solid fa-ruler-horizontal"></i> Guide des tailles</div>

                    </div>

                    <script>

                    var test = {{ accessoiresVariations|json_encode(constant('JSON_HEX_TAG'))|raw }};

                    var options=""; 
                    
                    $(".test").on('click',function(){ 
                        var value=$(this).val(); 
                        size=""
                        
                        for(let i = 0 ; i < test.length; i++) {
                            if(value == test[i].color.id)
                            {
                                size+="<label class='mx-2 mb-2'><input type='radio' name='size' class='testRadio' name='test' value='" + test[i].size.id + "'><div class='text-center align-middle testSelect' alt='Option 1' style='width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;'>" + test[i].size.size + "</div></label>"

                                $("#test3").html(size);

                            }
                        }
                    });
                
                    </script>

						<p>{{ accessoriesMerch.0.sousCategorieMerchandising }}</p>
						<p>{{ material.0.material }}</p>

						<div class="col-12 mb-1">
						{{form_start(form)}}
							<div class="col-6">
								{{form_row(form.quantity)}}
							</div>
							<div class="row">

								{# Favorite button #}
								{% if app.user is null %}
									<a class="col-1 ms-2 p-0 mt-1 d-flex text-decoration-none text-dark" href="{{ path('app_login')}}">
										<i type="button" class="fa-regular fa-heart fa-2x"></i>
									</a>
								{% else %}
									{% if userFavorites is not empty %}
										<a class="col-1 ms-2 p-0 mt-1 d-flex text-decoration-none text-dark" alt="blabla" href="{{ path('remove_favorite_accessoires_merchandising', {'id':accessoriesMerch.0.id})}}">
											<i type="button" class="fa-solid fa-heart fa-2x"></i>
										</a>
									{% else %}
										<a class="col-1 ms-2 p-0 mt-1 d-flex text-decoration-none text-dark" href="{{ path('add_favorite_accessoires_merchandising', {'id':accessoriesMerch.0.id})}}">
											<i type="button" class="fa-regular fa-heart fa-2x"></i>
										</a>
									{% endif %}
								{% endif %}
								{# End favorite button #}

								<div class="col-6">
									{{form_row(form.submit)}}
								</div>

						</div>
						{{form_end(form)}}
						
					</div>
				
				</form>
				
				<div class="col-12 p-2 border-top border-dark" style="background-color: white;">

					<script>
					function showDescription() {
						if(document.getElementById('description').style.cssText == 'display: none;'){
							document.getElementById('description').style.cssText = 'display: inline;';
							document.getElementById('fleche').classList.add('fa-minus');
							document.getElementById('fleche').classList.remove('fa-plus');
						}
						else {
							document.getElementById('description').style.cssText = 'display: none;';
							document.getElementById('fleche').classList.add('fa-plus');
							document.getElementById('fleche').classList.remove('fa-minus');
						}
					}
					</script>

					<div class="row align-items-center" onclick="showDescription()" style="cursor: pointer;">

						<h3 class="col-10">Description</h3>
						<div class="col-2">
							<i class="fa-solid fa-plus d-flex justify-content-end" id="fleche"></i>
						</div>

					</div> 

					<div id="description" style="display: none;">
					{{ accessoriesMerch.0.longDescription | raw }}
					</div>

				</div>
				<div class="col-12 p-2 border-top border-dark" style="background-color: white;">
					<h3>
						<i class="fa-solid fa-truck-fast"></i>
						{{ expedition.0.title }}</h3>
					<p>{{ expedition.0.description }}</p>
					<p>{{ expedition.0.longDescription }}</p>
				</div>
			</div>

		</div>
	</div>
	{# ------------------------------------------------------------------------------------ #}
	<div class="container-xl py-3">
		<div class="row pt-2" style="background-color: white;">
			<div class="col-12">

				<h2>Produits similaires</h2>
			</div>

			{% for accessoriesMerch in similarItm |slice(0,4) %}
		
					<div class="card mx-auto mb-3 border-0" style="width: 18rem; background-color: white;">
						<img src={{ asset('images/'~accessoriesMerch.photo) }} class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ accessoriesMerch.title }}</h5>
							{# <p>{{ accessoriesMerch.sousCategorieMerchandising }}</p>
							<p class="card-text">{{ accessoriesMerch.description }}</p> #}
							<p>{{ accessoriesMerch.price/100 }}€</p>
							<div class="text-center">
								<a href={{ path('voir_accessoires_merch', {'id':accessoriesMerch.id} )}} class="btn btn-warning">Plus d'informations</a>
							</div>
						</div>
					</div>
			
			{% endfor %}


		</div>
		{# end row #}


	</div>
	{# end Container #}

	<!-- Modal taille-->
    <div class="modal fade" id="sizeGuideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-fullscreen-lg-down">
			<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Guide des tailles</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ render(url('size_guide')) }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				{# <button type="button" class="btn btn-primary">Save changes</button> #}
			</div>
			</div>
		</div>
    </div>


	{# ----------------------------------------------------------------------------------- #}
	<script>
		function myFunction(smallImg) {
var fullImg = document.getElementById("imageBox");
fullImg.src = smallImg.src;
}
	</script>
{% endblock %}
