{% extends 'base.html.twig' %}

{% block title %}Merchandising Vêtement
{% endblock %}

{% block body %}
	<div class="container-xl">
		<div class="row">
			<div class="col-12 bg-dark text-white">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-11">
						<h1>Merchandising Vêtement :
							{{ vetementMerche.0.title }}</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1 pt-3 text-center bg-dark ">

				<img src={{ asset('images/'~vetementMerche.0.photo) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
				<img src={{ asset('images/'~vetementMerche.0.photo2) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
				<img src={{ asset('images/'~vetementMerche.0.photo3) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
				<img src={{ asset('images/'~vetementMerche.0.photo4) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>
				<img src={{ asset('images/'~vetementMerche.0.photo5) }} onclick="myFunction(this)" class="img-fluid p-2" title="Petite photo du produit"/>

			</div>

			<div class="col-7 pt-3 text-center bg-light border-bottom border-dark">

				<img id="imageBox" src={{ asset('images/'~vetementMerche.0.photo) }} class="img-fluid p-2" title="Grande image du produit"/>


			</div>

			<div class="col-4 pt-3 bg-light border-bottom border-end border-dark">
				<div class="row">
					<div class="col-8">
						<h2>{{ vetementMerche.0.description }}</h2>
					</div>
					{# Favorite button #}
					{% if app.user is null %}
						<a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" href="{{ path('app_login')}}">
							<i type="button" class="fa-regular fa-heart fa-2x"></i>
						</a> 
					{% else %}
						{% if userFavorites is not empty %}
							<a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" alt="blabla" href="{{ path('remove_favorite_vetement_merchandising', {'id':vetementMerche.0.id})}}">
								<i type="button" class="fa-solid fa-heart fa-2x"></i>
							</a>
						{% else %}
							<a class="col-2 justify-content-end d-flex align-items-center text-decoration-none text-dark" href="{{ path('add_favorite_vetement_merchandising', {'id': vetementMerche.0.id})}}">
								<i type="button" class="fa-regular fa-heart fa-2x"></i>
							</a>
						{% endif %}
					{% endif %}
					{# End favorite button #}

					<div class="col-2 my-auto justify-content-end d-flex">
						<h3 class="my-auto fw-bold">{{ vetementMerche.0.price/100 }}€</h3>
					</div>
				</div>

                <form method="post">

                    <div class="col-6 py-4">

                        <p><span>Choisissez une couleur :</span></p>
                    
                        <select class="form-select" id="test" name="color" aria-label="Default select example">
                            <option selected>Couleur</option>

                            {% for couleur in couleurs %}

                                <option value="{{ couleur.id }}">{{ couleur.color }}</option>

                            {% endfor %}
                            
                        </select>
                    </div>

                    <div class="col-6 pt-3 pb-4">

                        <p><span>Choisissez une taille :</span></p>

                        <div id="test3">
                            <label class="mx-2">
                                <input type="radio" class="testRadio" name="test" value="small"><div class="text-center align-middle testSelect" alt="Option 1" style="width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;">S</div>
                            </label><label class="mx-2">
                                <input type="radio" class="testRadio" name="test" value="small"><div class="text-center align-middle testSelect" alt="Option 2" style="width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;">M</div>
                            </label><label class="mx-2">
                                <input type="radio" class="testRadio" name="test" value="small"><div class="text-center align-middle testSelect" alt="Option 2" style="width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;">L</div>
                            </label>
                        </div>

						<div class="pt-3 text-primary" data-bs-toggle="modal" data-bs-target="#sizeGuideModal" style="cursor: pointer;"><i class="fa-solid fa-ruler-horizontal"></i> Guide des tailles</div>

                    </div>

                    <script>

                    var test = {{ vetementVariations|json_encode(constant('JSON_HEX_TAG'))|raw }};

                    console.log(test);
        
                    var options=""; 
                    
                    $("#test").on('click',function(){ 
                        var value=$(this).val(); 
                        size=""

                        for(let i = 0 ; i < test.length; i++) {
                            if(value == test[i].color.id)
                            {
                                size+="<label class='mx-2'><input type='radio' name='size' class='testRadio' name='test' value='" + test[i].size.id + "'><div class='text-center align-middle testSelect' alt='Option 1' style='width: 3em; height: 2.4em; border-radius: 4px; border: solid 1px black; justify-content: center; align-items: center;display: flex;'>" + test[i].size.size + "</div></label>"

                                $("#test3").html(size);

                            }
                        }
                    });
                
                    </script>
      
                <p>{{ vetementMerche.0.sousCategorieMerchandising }}</p>
                <p>{{ vetementMerche.0.material }}</p>
                <div class="col-6 mb-4">
                
                    {{form(form)}}
                </div>

            </form>


				<div class="col mb-3 text-center">{# <button type="button" class="btn btn-success">Ajouter au panier</button> #}
					{# {{form(form)}} #}
				</div>
				<div class="col-12 p-2 border-top border-dark bg-light">
					<h3>description</h3>
					<p>
						{{ vetementMerche.0.longDescription }}
					</p>
				</div>
				<div class="col-12 p-2 border-top border-dark bg-light">
					<h3>
						<i class="fa-solid fa-truck-fast"></i>
						{{ expedition.0.title }}</h3>
					<p>{{ expedition.0.description }}</p>
					<p>{{ expedition.0.longDescription }}</p>
				</div>
			</div>

		</div>
	</div>
	{# ------------------------------------------------------------------------------------ #}
	<div class="container">
		<div class="row">
			<div class="col-12 bg-light">

				<h2>Produits similaires</h2>
			</div>

			{% for vetementMerche in similarItm |slice(0,4) %}
				<div class="col-3 bg-light mb-3 ">
					<div class="card" style="width: 18rem;">
						<img src={{ asset('images/'~vetementMerche.photo) }} class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">{{ vetementMerche.title }}</h5>
							<p>{{ vetementMerche.sousCategorieMerchandising }}</p>
							<p class="card-text">{{ vetementMerche.description }}</p>
							<p>{{ vetementMerche.price/100 }}€</p>
							<div class="text-center">
								<a href={{ path('voir_vetement_merch', {'id':vetementMerche.id} )}} class="btn btn-warning">Plus d'informations</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>
		{# end row #}


	</div>
	{# end Container #}

	<!-- Modal taille-->
    <div class="modal fade" id="sizeGuideModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Guide des tailles</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ render(url('size_guide')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                {# <button type="button" class="btn btn-primary">Save changes</button> #}
            </div>
            </div>
        </div>
    </div>


	{# ----------------------------------------------------------------------------------- #}
	<script>
		function myFunction(smallImg) {
var fullImg = document.getElementById("imageBox");
fullImg.src = smallImg.src;
}
	</script>
{% endblock %}
