{% extends "base.html.twig" %}

{% block title %}{{ souscategories.title }}{% endblock %}

{% block body %}

    <div class="container bg-white">

        {# <h1 class="py-5 ms-4">Les {{ souscategories.title }}</h1> #}

        <div class="container-fluid py-4">
        
            <div class="row">
            
                <div class="col-2">

                    <p class="mt-2">Catégories</p>

                    <h3><a class="text-underline-hover text-black" href="{{ path('show_from_category_merchandising', {"title": categories.0.title}) }}">{{ categories.0.title }}</a></h3>

                        <ul class="" style="list-style-type: none">

                            {# For pour afficher la bare de navigation a gauche #}

                            {% for subcategory in allsouscategories %}

                            {% if subcategory.categorieMerchandising.title == categories.0.title %}
                      
                                <li><a class="text-underline-hover text-black" href="{{ path('show_merchandising_sous_categorie', {"title": subcategory.title, "title1": categories.0.title}) }}">{{ subcategory.title }}</a></li>

                            {% endif %}

                        {% endfor %}

                        </ul>

                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid" style="flex-direction: column">
                                <button class="navbar-toggler mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasNavbar">
                                    <span class="">Filtres</span>
                                </button>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasNavbarLabel">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        
                                    <div class="pt-3 border-top">

                                        {% if categories.0.title == 'Merchandising Femme' %}
                                        
                                            {{ form(filterForm) }}

                                        {% endif %}

                                        {% if categories.0.title == 'Merchandising Homme' %}
                                        
                                            {{ form(filterForm) }}

                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>
                    </nav>
                
                </div>

                <div class="col-10">

                    <div class="row mb-3">   

                        <h3 class="col-8" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-underline-hover"><a class="text-decoration-none text-muted" href="{{ path('default_home') }}">Accueil</a></li>
                                <li class="breadcrumb-item text-underline-hover"><a class="text-decoration-none text-muted" href="{{ path('show_from_category_merchandising', {"title": categories.0.title}) }}">{{ categories.0.title }}</a></li>
                                <li class="breadcrumb-item active">{{ souscategories.title }}</li>
                            </ol>
                        </h3>

                        {# Select pour trier #}
                        <div class="col-3 ms-auto">

                            <select class="form-select no-border-radius" onChange="window.location=this.value;">
                                <option selected>Trier par</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=asc&sort=v.title&page=1">Nouveaux arrivages</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=asc&sort=v.price&page=1">Pris plus bas à élévé</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=desc&sort=v.price&page=1">Pris plus élévé à bas</option>
                            </select>
                                
                        </div>  
                    </div>  

                    <div class="row">


                        {# For pour afficher tout les vetements en forme de carte #}

                        {# {% if categories.0.title == 'Femme' %} #}

                            {% for vetement in vetements %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_vetement_merch', {'id': vetement.id}) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">

                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (vetement.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ vetement.title }}</h5>
                                            {% set colors = {} %}
                                            {% for variations in vetement.vetementMerchandisingQuantities.values %}

                                                {% if variations.color.code not in colors %}

                                                    {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}

                                                {% endif %}


                                            {% endfor %}

                                            {% for color in colors %}
                                                <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                    <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                </div>

                                            {% endfor %}

                                    </div>                

                                </a>

                            </div>
                        
                            {% endfor %}

                        {# {% endif %} #}

                        {% if categories.0.title == 'Bijoux' %}

                            {% for bijou in bijoux %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_bijoux', {"id": bijou.id} ) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ bijou.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (bijou.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ bijou.title }}</h5>
                                            
                                    </div>      

                                </a>

                            </div>
                        
                            {% endfor %}

                        {% endif %}

                        {% for accessoire in accessoires %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_accessoires_merch', {"id": accessoire.id} ) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ accessoire.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (accessoire.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ accessoire.title }}</h5>
                                            {% set colors = {} %}
                                                {% for variations in accessoire.accessoiresMerchandisingQuantities.values %}

                                                    {% if variations.color.code not in colors %}
                                                    
                                                        {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
                                                    
                                                    {% endif %}
                                                    

                                                {% endfor %}

                                                {% for color in colors %}
                                                    <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                        <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                    </div>
                                                
                                                {% endfor %}
                                    </div>      

                                </a>

                            </div>
                        
                        {% endfor %}

                        {# Pagination #}

                        {% if vetements is not null %}

                            <div class="container mt-3">
                        
                                <div class="row">
                            
                                    <div class="col-12 ms-auto">
                                
                                        {{ knp_pagination_render(vetements) }}
                                
                                    </div>
                            
                                </div>

                            </div>
                            
                        {% endif %}

                    </div>
        
                </div>
            
            </div>
        
        </div>

    </div>

{% endblock %}