{% extends "base.html.twig" %}

{% block title %}Sous catégories{% endblock %}

{% block body %}

    <div class="container bg-white">

        {# <h1 class="py-5 ms-4">Les {{ souscategories.title }}</h1> #}

        <div class="container-fluid py-4">
        
            <div class="row">
            
                <div class="col-2">

                    <p class="mt-2">Catégories</p>

                    <h3><a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}">{{ categories.0.title }}</a></h3>

                        <ul class="" style="list-style-type: none">

                            {# For pour afficher la bare de navigation a gauche #}

                            {% for subcategory in allsouscategories %}

                            {% if subcategory.categorie.title == categories.0.title %}
                      
                                <li><a class="text-underline-hover text-black" href="{{ path('show_souscategorie_from_category', {"title": subcategory.title, "title1": categories.0.title}) }}">{{ subcategory.title }}</a></li>

                            {% endif %}

                        {% endfor %}

                        </ul>

                        <div class="pt-3 border-top">

                            {% if categories.0.title == 'Femme' %}
                        
                                {{ form(filterForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Enfant' %}
                        
                                {{ form(filterForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Homme' %}
                            
                                {{ form(filterForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Bijoux' %}
                        
                                {{ form(filterBijouxForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Chaussures' %}
                    
                                {{ form(filterChaussuresForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Accessoires' %}
                    
                                {{ form(filterAccessoiresForm) }}

                            {% endif %}

                            {% if categories.0.title == 'Musique' %}
                    
                                {{ form(filterMediaForm) }}

                            {% endif %}

                        </div>
                
                </div>

                 <div class="col-10">

                    <div class="row mb-3">

                        <h3 class="col-9"><a href="{{ path('default_home') }}" class="text-underline-hover text-black">Accueil</a> / <a class="text-underline-hover text-black" href="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}">{{ categories.0.title }}</a> / {{ souscategories.title }}</h3>

                        {# Select pour trier #}
                        <div class="col-3 ms-auto">

                            <select class="form-select" onChange="window.location=this.value;">
                                <option selected>Trier par</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=asc&sort=v.title&page=1">Nouveaux arrivages</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=asc&sort=v.price&page=1">Pris plus bas à élévé</option>
                                <option value="{{ path('show_vetements_from_category', {"title": categories.0.title}) }}?direction=desc&sort=v.price&page=1">Pris plus élévé à bas</option>
                            </select>
                                
                        </div>
                    </div> 

                    <div class="row">


                        {# For pour afficher tout les vetements en forme de carte #}

                        {# {% if categories.0.title == 'Femme' %} #}

                            {% for vetement in vetements %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_vetement', {'id': vetement.id}) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ vetement.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ vetement.title }}">

                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (vetement.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ vetement.title }}</h5>
                                            {% set colors = {} %}
                                            {% for variations in vetement.vetementQuantities.values %}

                                                {% if variations.color.code not in colors %}
                                                
                                                    {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
                                                
                                                {% endif %}
                                                

                                            {% endfor %}

                                            {% for color in colors %}
                                                <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                    <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                </div>
                                            
                                            {% endfor %}
                                        {# <p class="card-text">{{ vetement.description }}</p>
                                        <a href="#" class="card-link">Ajouter au panier</a> #}
                                    </div>                

                                </a>

                            </div>
                        
                            {% endfor %}

                        {# {% endif %} #}

                        {% if categories.0.title == 'Bijoux' %}

                            {% for bijou in bijoux %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_bijoux', {"id": bijou.id} ) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ bijou.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ bijou.title }}">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (bijou.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ bijou.title }}</h5>
                                            {% set colors = {} %}
                                            {% for variations in bijou.bijouxQuantities.values %}

                                                {% if variations.color.code not in colors %}
                                                
                                                    {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
                                                
                                                {% endif %}
                                                

                                            {% endfor %}

                                            {% for color in colors %}
                                                <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                    <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                </div>
                                            
                                            {% endfor %}
                                    </div>      

                                </a>

                            </div>
                        
                            {% endfor %}

                        {% endif %}

                        {% for chaussure in chaussures %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_chaussures', {'id': chaussure.id}) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ chaussure.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ chaussure.title }}">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (chaussure.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ chaussure.title }}</h5>
                                            {% set colors = {} %}
                                            {% for variations in chaussure.chaussuresQuantities.values %}

                                                {% if variations.color.code not in colors %}
                                                
                                                    {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
                                                
                                                {% endif %}
                                                

                                            {% endfor %}

                                            {% for color in colors %}
                                                <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                    <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                </div>
                                                
                                            {% endfor %}
                                    </div>      

                                </a>

                            </div>
                        
                        {% endfor %}

                        {% for accessoire in accessoires %}
                        
                            <div class="card g-0 mx-auto my-2 border-0 border-bottom rounded-0" style="width: 15rem;">

                                <a href="{{ path('voir_accessoires', {"id": accessoire.id} ) }}" class="text-decoration-none text-black">

                                    <img src="{{ asset('images/' ~ accessoire.photo) }}" style="height: 200px; object-fit: contain;" class="card-img-top" alt="{{ accessoire.title }}">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item fw-bold">{{ (accessoire.price)/100 }} €</li>
                                        </ul>
                                        <h5 class="card-title text-muted">{{ accessoire.title }}</h5>
                                            {% set colors = {} %}
                                            {% for variations in accessoire.accessoiresQuantities.values %}

                                                {% if variations.color.code not in colors %}
                                                
                                                    {% set colors = colors | merge({ (variations.color.id): variations.color.code}) %}
                                                
                                                {% endif %}
                                                

                                            {% endfor %}

                                            {% for color in colors %}
                                                <div class="border" style="height: 24px; width: 24px; background-color: white; border-radius: 50%; display: inline-block;">
                                                    <div class="mx-auto" style="height: 16px; width: 16px; background-color: {{ color}}; border-radius: 50%; margin-top: 3px;"></div>
                                                </div>
                                                
                                            {% endfor %}
                                    </div>      

                                </a>

                            </div>
                        
                        {% endfor %}

                        {# Pagination #}

                        {% if vetements is not null %}

                            <div class="container mt-3">
                        
                                <div class="row">
                            
                                    <div class="col-12 ms-auto">
                                
                                        {{ knp_pagination_render(vetements) }}
                                
                                    </div>
                            
                                </div>

                            </div>
                            
                        {% endif %}

                    </div>
        
                </div>
            
            </div>
        
        </div>

    </div>



{% endblock %}